Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
*~
install-sh
libtool
ltmain.sh
m4
missing
src/.deps
src/.libs
src/libmimedecode.*
src/*.o
tests/atconfig
tests/atlocal
tests/Makefile
tests/Makefile.in
src/*.lo
src/mimedecode
stamp-h1
tests/package.m4
tests/testsuite
tests/testsuite.log
